.metro-baseline-container,
.metro-baseline-container div,
.metro-baseline-container button,
.metro-baseline-container input,
.metro-baseline-container textarea
.metro-baseline-container select,
.metro-baseline-container img {
  box-sizing: border-box;
}

.metro-baseline-container,
.metro-baseline-container button,
.metro-baseline-container input,
.metro-baseline-container textarea,
.metro-baseline-container select {
  font-family: "Noto Sans", "Segoe UI", sans;
  font-size: inherit;
}

.metro-baseline-container code,
.metro-baseline-container pre {
  font-family: "Courier Prime", "Courier New", monospace;
  font-size: 0.8em;
}

.metro-baseline-container h1,
.metro-baseline-container h2 {
  font-weight: lighter;
}
.metro-baseline-container h3,
.metro-baseline-container h4 {
  font-weight: bold;
}
.metro-baseline-container h1 {
  font-size: 2em;
}
.metro-baseline-container h2 {
  font-size: 1.7em;
}
.metro-baseline-container h3 {
  font-size: 1.3em;
}
.metro-baseline-container h4 {
  font-size: 1.1em;
}